@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway');

.main {
    width:560px;
    float:left;
    padding-right:7px;
}

.main p {
    font-size:1em;
    padding-bottom:25px;
    margin:10px 0 10px 20px;
}

.body {
    font-size:100%;
    line-height:1.5;
    font-family: 'Raleway', sans-serif;
    background-color:#e5eefc;
}
