@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway');

.aside {
    margin:20px 20px 20px;
    padding:20px 20px 20px 20px;
    float:right;
    width:340px;
    background-color:#e5eefc;
    border:2px dashed navy;
    border-radius:15px;
}

.aside p {
    font-size:.875em;
    margin:10px 0;
}

.aside ul {
    padding-left:30px;
    font-size:.875em;
}

.img.aside {
    padding-left:20px;
}